<nav class="flex flex-col w-52 p-2">
    <h2 class="text-lg font-bold mb-4">
        {{ 'common.settings' | translate }}
    </h2>
    <ul>
        <li>
            <a (click)="openTab(routes.SETTINGS.PROFILE)"
                class="flex items-center gap-2 w-full px-4 py-1 hover:bg-orange-100 
                    active:scale-95 transition duration-150 cursor-pointer rounded-md">
                <img [src]="icons.PROFILE.DEFAULT_AVATAR" alt="profile" class="w-5 h-5 flex-none" />
                <span class="ml-2">{{ 'common.profile' | translate }}</span>
            </a>
        </li>
        <li>
            <a (click)="openTab(routes.SETTINGS.GENERAL)"
                class="flex items-center gap-2 w-full px-4 py-1 hover:bg-orange-100 
                    active:scale-95 transition duration-150 cursor-pointer rounded-md">
                <img [src]="icons.PROFILE.SETTINGS" alt="profile" class="w-5 h-5 flex-none" />
                <span class="ml-2">{{ 'common.general' | translate }}</span>
            </a>
        </li>
    </ul>
</nav>