<div class="p-4">
  <div>
    <app-search-panel
      [fields]="searchFields"
      [initialFields]="adminStore.textSearch.fields()"
      (searchRequest)="onSearchTextChange($event)"
    />
  </div>

  <div class="flex justify-between align-middle my-4">
    <app-pagination
      [currentPage]="adminStore.currentPage()" 
      [totalPages]="adminStore.totalPages()" 
      (changePage)="onChangePage($event)" 
    />

    <h2 class="font-bold text-xl">{{ 'admin_dashboard.user_list' | translate }}</h2>
  </div>
  
  <div class="relative">
    @if(isBusy()) {
      <div class="absolute inset-0 bg-white/70 flex items-center justify-center z-10">
        <app-busy />
      </div>
    }

    <table class="min-w-full border border-gray-200 rounded-md overflow-hidden">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left">{{ 'common.photo' | translate }}</th>

          <th (click)="onSortToggle(sortFields.UserName, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.username' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.UserName)"
              [sortIndex]="getSortIndex(sortFields.UserName)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th (click)="onSortToggle(sortFields.Email, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.email' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.Email)"
              [sortIndex]="getSortIndex(sortFields.Email)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th (click)="onSortToggle(sortFields.IsEmailConfirmed, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.email_confirmed' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.IsEmailConfirmed)"
              [sortIndex]="getSortIndex(sortFields.IsEmailConfirmed)"
              [sortCriteria]="sortCriteria"
            />
          </th>
          
          <th (click)="onSortToggle(sortFields.FirstName, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.first_name' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.FirstName)"
              [sortIndex]="getSortIndex(sortFields.FirstName)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th (click)="onSortToggle(sortFields.LastName, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.last_name' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.LastName)"
              [sortIndex]="getSortIndex(sortFields.LastName)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th (click)="onSortToggle(sortFields.BirthDate, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.birth_date' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.BirthDate)"
              [sortIndex]="getSortIndex(sortFields.BirthDate)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th class="px-4 py-2 text-left">{{ 'common.roles' | translate }}</th>

          <th (click)="onSortToggle(sortFields.CreatedAt, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.created' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.CreatedAt)"
              [sortIndex]="getSortIndex(sortFields.CreatedAt)"
              [sortCriteria]="sortCriteria"
            />
          </th>

          <th (click)="onSortToggle(sortFields.LastActive, $event.shiftKey)" class="px-4 py-2 text-left cursor-pointer select-none">
            {{ 'common.last_active' | translate }}
            <app-multi-sort-indicator 
              [sortOrder]="getSortOrder(sortFields.LastActive)"
              [sortIndex]="getSortIndex(sortFields.LastActive)"
              [sortCriteria]="sortCriteria"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of adminStore.userList()" class="border-t border-gray-200">
          <td class="px-4 py-2 flex flex-row gap-1">
              <img 
                  [src]="user.profilePhotoUrl ? user.profilePhotoUrl : icons.PROFILE.DEFAULT_AVATAR" 
                  alt="avatar" 
                  class="w-16 h-16 rounded-full mr-1" 
              />
              @if(user.profilePhotoUrl) {
                <button (click)="deleteUserPhoto(user.id)"
                  class="cursor-pointer font-bold text-red-600" title="Delete photo">✕</button>
              } 
          </td>
          <td class="px-4 py-2">{{ user.userName }}</td>
          <td class="px-4 py-2">{{ user.email }}</td>
          <td class="px-4 py-2">{{ user.isEmailConfirmed }}</td>
          <td class="px-4 py-2">{{ user.firstName }}</td>
          <td class="px-4 py-2">{{ user.lastName }}</td>
          <td class="px-4 py-2">{{ user.birthDate | date }}</td>
          <td class="px-4 py-2">{{ getRolesString(user) }}</td>
          <td class="px-4 py-2">{{ user.createdAt | date }}</td>
          <td class="px-4 py-2">{{ user.lastActive | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
