<div class="mb-5 relative">
    <div
        *ngIf="indicators().length"
        class="absolute -top-6 left-0 z-10 flex flex-wrap gap-x-4 gap-y-1 text-xs transition-all duration-200"
        [class.opacity-0]="!shouldShowIndicators"
        [class.-translate-y-2]="!shouldShowIndicators"
        [class.opacity-100]="shouldShowIndicators"
        [class.translate-y-0]="shouldShowIndicators"
    >
        <span *ngFor="let indicator of indicators()" class="tooltip tooltip-bottom" [attr.data-tip]="indicator.message">
        <img [src]="getIcon(indicator)" class="w-4 h-4" alt="" />
        </span>
    </div>

    <input 
        [type]="type()" 
        [formControl]="control" 
         placeholder="{{label()}}" 
        class="peer block w-full rounded-md border 
               border-gray-300 px-3 pt-7 pb-2 text-sm placeholder-transparent 
               focus:border-blue-500 focus:ring focus:ring-blue-200"
        [class.border-red-500]="control.touched && control.invalid"
        (focus)="touchedOnce.set(true)"
    />

    <label 
        class="absolute left-3 top-2 text-gray-500 text-sm transition-all 
            peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 
            peer-placeholder-shown:text-xs peer-focus:top-2.5 
            peer-focus:text-gray-500 peer-focus:text-sm pointer-events-none"
    >
        {{label()}}
    </label>
</div>