<div class="flex items-center gap-2">
    @if(authStore.isBusy()) {
    <app-busy />
    }
    <div class="flex-1 max-w-lg mx-auto">
        <div class="mb-8 mt-4">
            <h2 class="text-3xl font-bold">You are about to reset your password.</h2>
        </div>

        <div class="mb-8">
            <h3 class="text-lg">Create a new password for your account.</h3>
        </div>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()" autocomplete="off"
            class="flex flex-col gap-4">
            
            <app-text-input 
                [formControl]="$any(resetPasswordForm.controls['password'])"
                [label]="'Password'"
                [type]="'password'"
                [indicators]="validationIndicators['password']"
            />

            <app-text-input 
                [formControl]="$any(resetPasswordForm.controls['confirmPassword'])"
                [label]="'Confirm Password'"
                [type]="'password'"
                [indicators]="validationIndicators['confirmPassword']"
            />

            <button type="submit" [disabled]="resetPasswordForm.invalid" class="bg-orange-600 text-white px-4 py-2 rounded-xl text-lg font-bold 
                hover:bg-orange-700 transition-colors disabled:opacity-50 
                cursor-pointer disabled:cursor-not-allowed">
                Save new password
            </button>

        </form>

        <div class="mt-4">
            <a [routerLink]="['/', ROUTES.LOGIN]" class="text-orange-700">Back to login page</a>
        </div>
        
        @if(authStore.error()) {
            <div class="text-red-600 bg-red-100 border border-red-300 rounded-lg p-2 text-sm">
                {{ authStore.error()?.description }}
            </div>
        }
    </div>
</div>
