@if(profileStore.isBusy()){
    <app-busy />
}
<div class="flex flex-col gap-3">
    <div>
        <h2 class="text-lg font-bold p-2 mb-4 border-b-gray-200 border-b-2">
            Profile
        </h2>
    </div>
    <div class="flex flex-col">
        <h3 class="text-sm font-bold p-2">
            Photo
        </h3>

        <div class="flex items-center gap-2">
            <img 
                [src]="profileStore.hasProfilePhoto() ? profileStore.profilePhotoUrl() : icons.PROFILE.DEFAULT_AVATAR" 
                alt="avatar" 
                class="w-22 h-22 rounded-full mr-1" 
            />

            <div class="flex flex-col gap-2">
                <div class="flex flex-row gap-2">
                    <label 
                        for="fileInput" 
                        class="px-4 py-1 rounded-sm flex items-center font-semibold text-gray-600 text-sm cursor-pointer
                            hover:bg-gray-200 hover:text-gray-700 active:scale-95 transition duration-150 select-none">
                        Change photo
                    </label>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden accept=".png, .jpg, .jpeg" />

                    <a class="px-4 py-1 rounded-md border-2 border-red-500 flex items-center font-semibold text-red-500 text-sm cursor-pointer
                hover:text-red-700 hover:border-red-700 active:scale-95 transition duration-150 select-none">
                        Remove photo
                    </a>
                </div>

                <p class="text-xs text-gray-600">
                    Pick a photo up to 4MB. Your avatar photo will be public.
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-col">
        <h3 class="text-sm font-bold p-2">
            Username
        </h3>

        <input type="text" class="border-2 border-neutral-300 rounded-sm max-w-xs w-full h-8 mx-2 p-2 text-sm
            focus:border-neutral-400 focus:outline-none" [value]="profileStore.userName()">
        <div class="flex flex-row-reverse max-w-xs w-full">
            <p class="text-xs text-gray-600">5/20</p>
        </div>
    </div>

    <div class="flex flex-col">
        <h3 class="text-sm font-bold p-2">
            Personal
        </h3>

        <p class="text-sm p-2">
            First name
        </p>
        <input type="text" class="border-2 border-neutral-300 rounded-sm max-w-xs w-full h-8 mx-2 p-2 text-sm
            focus:border-neutral-400 focus:outline-none" [value]="profileStore.firstName()">
        <div class="flex flex-row-reverse max-w-xs w-full">
            <p class="text-xs text-gray-600">5/50</p>
        </div>

        <p class="text-sm p-2">
            Last name
        </p>
        <input type="text" class="border-2 border-neutral-300 rounded-sm max-w-xs w-full h-8 mx-2 p-2 text-sm
            focus:border-neutral-400 focus:outline-none" [value]="profileStore.lastName()">
        <div class="flex flex-row-reverse max-w-xs w-full">
            <p class="text-xs text-gray-600">5/50</p>
        </div>
    </div>

    <div class="flex flex-col">
        <h3 class="text-sm font-bold p-2">
            Email
        </h3>

        <p class="text-sm p-2 font-semibold">
            @if(profileStore.email()) {
                {{ profileStore.email() }}
            } @else {
                Email is not provided
            }
            
        </p>

        <div class="flex flex-row gap-2">
            <a class="w-fit px-4 py-1 rounded-sm flex items-center font-semibold text-gray-600 text-sm cursor-pointer
                hover:bg-gray-200 hover:text-gray-700 active:scale-95 transition duration-150 select-none">
                Change email
            </a>
            <a class="w-fit px-4 py-1 rounded-sm flex items-center font-semibold text-orange-400 text-sm cursor-pointer border-2 border-orange-400
                hover:border-orange-500 hover:text-orange-500 active:scale-95 transition duration-150 select-none">
                Verify email
            </a>
        </div>

    </div>

    <div class="flex flex-col">
        <h3 class="text-sm font-bold p-2">
            Password
        </h3>

        <a
            class="w-fit px-4 py-1 rounded-sm flex items-center font-semibold text-gray-600 text-sm cursor-pointer
                hover:bg-gray-200 hover:text-gray-700 active:scale-95 transition duration-150 select-none">
            Reset password
        </a>
    </div>
</div>